{% extends 'detector/base.html' %}

{% block content %}
<main class="flex flex-col items-center mt-8">
    <h2 class="text-3xl font-bold mb-4">
        Fake News <i class="fas fa-newspaper"></i> Detector
    </h2>
    <form method="post" class="w-3/4">
        {% csrf_token %}
        <textarea class="w-full h-64 p-4 border rounded-lg bg-white text-black font-mono" placeholder="Enter text here..." name="text"></textarea>
        <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700">
            Predict
        </button>
    </form>
</main>
{% endblock %}